@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;500&display=swap');
@media only screen and (max-width: 768px){
 
    
    :root{
        --sky-blue-color: #85bcc8;
        --green-color: #12bd00;
        --red-color: #cb0000;
        --orange-color: #ffa700;
    }
    
    
    *{
        padding: 0;
        margin: 0;
        font-family: 'Geologica', sans-serif;
        box-sizing: border-box;
    }

    html{
        scroll-behavior: smooth ;
    }
    
    body{
        overflow-x: hidden;
        position: relative;
        width: 100vw;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
    /* nav bar styling */
    #nav-bar{
        width: 100vw;
        min-height: 50px;
        position: fixed;
        top: 0;
        background-color: white;
        display: flex;
        justify-content:center;
        align-items: center;
        z-index: 2;
    }
    #nav-bar ul{
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 5px;
    }
    
    #nav-bar li{
        list-style: none;
        text-align: center;
    }
    
    #nav-bar a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 8px 10px;
        font-size: 12px;
    }
    
    /*nav bar hover */
    
    
     #nav-bar a:hover{
        background-color: var(--red-color);
        border-radius: 20px;
        color: white;
        transition: .5s ease-in-out;
     }
    
    
     /*Hero section */
    
     #hero{
        width: 100%;
        min-height: 200px;
        margin-top: 50px;
        background: url(assets/financials-header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;    
        display: flex;
        align-items: center;
     }
    
     #hero-text{
        display: flex;
        align-items: center;
        width: 100%;
        height: 120px;
        margin: auto;
        padding-left: 4px;
     }

    
    #hero-text h1{
        color: white;
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;
        text-shadow: 5px 1px 5px black;
        
    }
    
    /*company background */
    #company-background{
        width: 100%;
        min-height: 450px;
        background-color: var(--sky-blue-color);
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .company-background{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        text-align: center;
    }
    
    .company-background h3{
        color: white;
        font-size: 20px;
    }
    
    .company-background p{
        color: white;
        font-size: 14px;
        line-height: 20px;
    }
    
    .company-background h5{
        color: white;
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 20px;
        line-height: 20px;
    }
    
    /* completed projects */
    
    #completed-projects{
        max-width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    #completed-projects h4{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    
    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        padding-top: 10px;
    }
    
    .project{
        width: 100%;
        min-height: 300px;
        background-color: var(--orange-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}
    
    #project-img-1{
        width: 250px;
        min-height: 150px;
        background: url(assets/plant-production.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        
    }
    
    #project-img-2{
        width: 250px;
        min-height: 120px;
        background: url(assets/plant-production\ \(2\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    
    .project p{
        padding: 20px 10px 5px 10px;
        color: white;
        line-height: 20px;
        font-size: 14px;
    }
    
    /* services rendered section styles*/
    
    #services-rendered{
        max-width: 100%;
        min-height: 1000px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #services-rendered h4{
        width: 80%;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        
    }
    
    #services-row-1{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    #services-row-2{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        margin-top: 2px;
    }
    
    .service{
        width: 150px;
        height: 200px;
        background: transparent ;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: solid 2px #12bd00;
    }
    
    #services-img-1{
        height: 100px;
        width: 120px;
        background: url(assets/educational-systems.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    #services-img-2{
        height: 100px;
        width: 120px;
        background: url(assets/animal-feed.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    #services-img-3{
        height: 100px;
        width: 120px;
        background: url(assets/garden-tools.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    #services-img-4{
        height: 100px;
        width: 120px;
        background: url(assets/seeds-seedlings.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    #services-img-5{
        height: 100px;
        width: 120px;
        background: url(assets/office-supplies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
        margin-top: -10px;
    }
    
    #services-img-6{
        height: 100px;
        width: 120px;
        background: url(assets/cleaning-supplies.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: -10px;
    }
    
    #services-img-7{
        height: 100px;
        width: 120px;
        background: url(assets/printing-publishing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    #services-img-8{
        height: 100px;
        width: 120px;
        background: url(assets/toileteries.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    
    .service p{
        text-align: center;
        color: black;
        padding: 10px  10px;
        line-height: 17px;
        font-size: 14px;
    }
    
    /* goals and objective section */
    
    #goals{
        max-width: 100%;
        min-height: 1200px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: -40px;
        margin-top: -60px;
    }
    
    #goals h3{
        width: 80%;
        text-align: center;
        font-size: 30px;
        color: black;
        padding: 20px;
        margin-bottom: 15px;
        margin-top: -20px;
    }
    
    #goals-row-1{
        height: 500px;
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px 0px;
        border-radius: 20px;
        margin-top: -25px;
        
    }
    
    #goals-row-2{
        height: 500px;
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 15px 0px;
        border-radius: 20px;
        margin-top: -5px;
    }
    
    .goals{
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin: 20px auto;
    }
    
    .goals-img-1{
        width: 90%;
        min-height: 200px;
        background: url(assets/vision.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: -20px;
    }
    
    .goals-img-2{
        width: 90%;
        min-height: 200px;
        background: url(assets/mission.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        
    }
    
    .goals-img-3{
        width: 90%;
        min-height: 200px;
        background: url(assets/objective.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    }
    
    .goals-img-4{
        width: 90%;
        min-height: 200px;
        background: url(assets/economic-intent.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: -90px;
    }
    
    .goals h5{
        color: black;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        margin-top: 5px;
    }
    
    .goals p{
        color: black;
        text-align: center;
        padding: 0 20px 10px 20px;
        line-height: 20px;
        font-size: 12px;
    }
    
    /*management tean and ownership style section*/
    
    #management-team-head-section{
        max-width: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 10px;
        margin-top: 20px;
    }
    #management-team-text{
        width: 100vw;
        height: 380px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    #head-text{ 
        background-color: black;
        width: 80%;
        height: 120px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    #head-text h2{
        font-size: 30px;
        color: white;
        text-align: center;
    }
    
    #director-text{
        margin-top: 10px;
        
    }
    
    #director-text h6{
        font-size: 15px;
        padding: 0px 10px;
    }
    
    #director-text p{
        width: 100vw;
        padding: 10px;
        margin-top: 10px;
        line-height: 22px;
        font-size: 12px;
    }
    
    #management-team-img{
        width: 100vw;
        height: 300px;
        background: url(assets/team.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 20px;
    }
    
    #management-team-members{
        max-width: 80%;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    #management-team-members p{
        line-height: 25px;
        font-size: 10px;
    }
    
    /* Coclusion section */
    #conclusion {
        max-width: 100vw;
        min-height: 150px;
        background: var(--red-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 10px 0;
        margin-top: 40px;
    }
    
    #conclusion h2{
        color: white;
        font-size: 2rem;
        padding: 10px;
    }
    
    #conclusion p{
        color: white;
        width: 80%;
        text-align: center;
        font-size: 0.8rem;
        padding: 0 0 20px 0;
    }
    
    /*contact us section */
    
    #contact-us-block{
        max-width: 100%;
        min-height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    #contact-us-inner-block{
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 20px;
    }
    
    #contact-info{
        width: 90%;
        height: 370px;
        background: var(--sky-blue-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 10px;
    }
    
    #contact-info h2{
        color: white;
        font-size: 25px;
        text-align: center;
        padding: 15px;
    }
    
    #contact-info p{
        color: white;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
    }
    
    #contact-us-img{
        width: 90%;
        height: 250px;
        background: url(assets/get-in-touch.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-bottom: -20px;
        z-index: 1;
    }
    
    footer{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        gap: 5px;

    }

    footer h3{
        font-size: 12px;
    }
    
    footer p{
        font-size: 10px;
    }

        /* Add this style to hide the elements initially */
    .fade-in {
        opacity: 0;
        transform: translateY(1px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .fade-in.active {
        opacity: 1;
        transform: translateY(0);
    }

}
